*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app{
    width: auto;
    padding: 20px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
}

.todo-app h2{
    color: blue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 20px;
    padding-left:  15px;
    margin-bottom: 1rem;
}

input{
    border: none;
    outline: none;
    background-color: #edeef0;
    color: blue;
    font-weight: 550;
    height: 40px;
    font-size: 16px;
}

button{
    border: none;
    height: 40px;
    outline: none;
    color: white;
    background-color: blue;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}

ul li{
    font-size: 17px;
    padding: 12px 8px 12px 30px;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
}

ul li.checked{
    color: blue;
    text-decoration: line-through;
}

ul li span{
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
}

ul li span:hover{
    background-color: #d3d0d0;
}