*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #741e89);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #741e89);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.todo-app{
    width: 40vw;
    height: auto;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #003d9f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    background: #edeef0;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 550;
    color: #003d9f;
}

button{
    border: none;
    outline: none;
    padding: 10px 35px;
    color: #fff;
    cursor: pointer;
    background: #003d9f;
    font-size: 16px;
    border-radius: 40px; 
}

ul li{
    /* list-style: none; */
    font-size: 20px;
    padding: 12px 4px 12px 50px;
    cursor: pointer;
    position: relative;
    font-weight: 550;
    left: 2rem;
}

ul li.checked{
    color: #555;
    text-decoration: line-through blue 3px;
}

ul li span{
    position: absolute;
    right: 2rem;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

/* @media (min-width:250px) and (max-width:480px)
{
    .container{
    width: aut;
    height: auto;
    background: linear-gradient(135deg, #153677, #741e89);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
} */